body{
    background-color: #00ff37;
    font: Times;
    font-size: 18;
    line-height: 20px;
    width: 90%;
    margin:auto;

}
h1{
    margin: 0%;
    align-items: center;
    font-size: 20px;
}

.Page-title{
    background-color: rgb(251, 255, 0);
    width: 90%;
    margin: auto;
    padding: 20px 10px;
    border: 3px red solid;
}

.Data{
    width: 85%;
    align-items: center;
    margin: auto;
}


.box{
    background-color: rgb(165, 112, 112);
    font-family: Tahoma;
    width: 40%;
    padding:10px;
    align-self: center;
}
